<header>
  <div class="header">
    <img class="logo" src="img/logo.png"/>
    <nav>
      <ul class="header-menu">
        <li class="nav-item">Portfolio</li>
        <li class="nav-item">Feature</li>
        <li class="nav-item">Profile</li>
        <li class="nav-item">Contact</li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="main-visual">
    <div>
      <h1 class="title">Lorem Ipusum</h1>
      <p class="subtitle">simply dummy text of the printing</p>
    </div>
  </div>
  
  <div class="content-area">
    <div class="content">
      <div class="text-area">
        <p class="theme-logo">Portfolio</p>
        <p class="text">It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      </div>
      <div class="portfolio-visual">
        <div class="portfolio-photo"></div>
        <div class="portfolio-photo"></div>
        <div class="portfolio-photo"></div>
        <div class="portfolio-photo"></div>
        <div class="portfolio-photo"></div>
        <div class="portfolio-photo"></div>
      </div>
    </div>
  </div>
  
  <div class="content-area">
    <div class="content">
      <div class="text-area">
        <p class="theme-logo">Feature</p>
        <p class="text">It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      </div>
      <div class="strength-box">
        <div class="strength-area">
          <i class="fas fa-male"></i>
          <p class="strength"><strong>Strength1</strong></p>
          <p class="explanation">Contrary to popular belief, Lorem Ipsum<br>
          is not simply random text. It has roots<br>
          in a piece of classical Latin literature<br>
          from 45 BC, making it over 2000 years<br>
          old. Richard McClintock, a Latin<br>
          professor at Hampden-Sydney College in<br>
          Virginia, looked up one of the more<br>
          obscure Latin words, consectetur</p>
        </div>
        <div class="strength-area">
          <i class="fas fa-tv"></i>
          <p class="strength"><strong>Strength2</strong></p>
          <p class="explanation">Contrary to popular belief, Lorem Ipsum<br>
          is not simply random text. It has roots<br>
          in a piece of classical Latin literature<br>
          from 45 BC, making it over 2000 years<br>
          old. Richard McClintock, a Latin<br>
          professor at Hampden-Sydney College in<br>
          Virginia, looked up one of the more
          obscure Latin words, consectetur</p>
        </div>
        <div class="strength-area">
          <i class="fas fa-cogs"></i>
          <p class="strength"><strong>Strength3</strong></p>
          <p class="explanation">Contrary to popular belief, Lorem Ipsum<br>
          is not simply random text. It has roots<br>
          in a piece of classical Latin literature<br>
          from 45 BC, making it over 2000 years<br>
          old. Richard McClintock, a Latin<br>
          professor at Hampden-Sydney College in<br>
          Virginia, looked up one of the more
          obscure Latin words, consectetur</p>
        </div>
      </div>
    </div>
  </div>
</main>

