/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header {
  width: 1024px;
}

.header-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: contain;
}


.title {
  font-size: 64px;
  color: #FAFAFA;
  padding-bottom: 10px;
  padding-top: 200px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
}

.content-area {
  width: 100%;
  text-align: center;
  background-color: #ECEFF1;
}


.theme-logo {
  font-size: 32px;
  color: #000000;
}

.text {
  padding: 30px 0;
}

.content {
  margin: 0 auto; /*中央寄せ*/
  width: 920px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.portfolio-visual {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-photo {
  width: 300px;
  height: 250px;
}

.portfolio-photo {
  background-size: cover;
  background-position: center;
}

.portfolio-photo:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-photo:nth-child(2) {
  background-image: url(img/talk.jpg);
}

.portfolio-photo:nth-child(3) {
  background-image: url(img/webcamp-mother.png);
}

.portfolio-photo:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-photo:nth-child(5) {
  background-image: url(img/websuku.png);
}

.portfolio-photo:nth-child(6) {
  background-image: url(img/write.jpg);
}

.strength-box {
  display: flex;
}

.strength-area {
  width: 320px;
  height: auto;
}

.strength-area:ntn-child(2) {
  padding: 0 10px;
}

i {
  font-size: 60px;
}

.strength {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.explanation {
  text-align: left;
}

.footer {
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
}

footer {
  height: 60px;
  background-color: #EC715F;
}